body{
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.navbar-brand img{
    width: 50%;
}
.navbar
{

   width: 85%;
   margin: auto;
}
.navbar-expand-lg .navbar-nav .nav-link
{
    padding-left: 3rem !important;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.carousel-item
{
    height: 85vh;
}
.carousel-item .hero-content
{
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.hero-content h2
{
    font-size: 48px;
    color: #000;
    font-weight: bolder;
    line-height: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-content p{
    font-size: 18px;
    line-height: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutqqasphere
{
    margin: 50px 0px;
    overflow: hidden;
} 
.aboutqqasphere img{
    width:98%
}
.aboutqqasphere h2
{
    font-size: 16px;
    letter-spacing: 5px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
.aboutqqasphere h2::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #0098da;
    width: 4rem;
    margin: 0 1rem;
    vertical-align: middle;
}
.aboutqqasphere p{
    font-size: 48px;
    font-weight: bold;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutqqasphere span{
    font-size: 16px;
    color: #000;
    line-height: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.aboutqqasphere button
{
    margin-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cardintro
{
    color: #000;
   background-color: #fff;
   margin-bottom: -80px!important;
   position: relative;
   z-index: 999;
   padding: 35px;
   box-shadow: 2px 0px 44px -7px #00000024;
   border-radius: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.product-details
{
    background-color: #0099da41;
    padding: 80px 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.product-details h2{
    margin: 50px 0px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.product-details .card
{
    padding: 30px 10px;
    color: #000;
}
.footer
{
    background-color: #0098da;
}
footer
{
    padding: 50px 0px;
    width: 85%;
    margin: auto;
    justify-content: space-around;
   

}
footer img{
    width: 70%;
    text-align: center;
    margin-bottom: 25px;
}
footer h3{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
footer p{
    font-size: 18px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer ul{
    list-style: none;
    line-height: 2em;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    font-size: 18px;
}
footer svg{
    width: 25px;
    color: #fff;
    margin-right: 15px;

}
.breadcrumbs
{
    background-image: url("../images/hero2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    align-items: center;
    display: flex;
  
}
.breadcrumbs ol li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutpagesection img
{
    width: 100%;
}
.aboutpagesection
{
    margin-top: 50px;
}
.aboutpagesection h2
{
    color: #000;
    font-size: 36px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:3rem;
}
.aboutpagesection span{
    color: #0098da;
}
.aboutpagesection p 
{
    font-size: 18px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2rem;
    text-align: justify;
}
.mission
{
    width: 70%;
    margin:50px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
   
}
.mission h5{
    color: #0098da;
    font-size: 24px;
    font-weight: bold;
}
.mission img{
    width: 50%;
}
.productssection
{
    width: 80%;
    margin:50px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.productssection .card-body
{
    
    color: #fff;
    background-color: #0098da;
    border-radius: 0px 10px 0px  10px;
  
    
}
.productssection .card
{
    border-radius: 15px;
    box-shadow: 2px 0px 44px -7px #00000024;
    border: none;
   
}
.productssection .card-title
{
    font-size: 24px;
    font-weight: bold;
}
.productssection h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-bottom: 60px;
}
.contactsection
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}